<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Creá una página web maravillosa con Empire Web. Hazla tu mismo. Construye todo visualmente. ¿Necesitás página web? ¡Creala con Empire Web!">
        <meta name="author" content="">

        <title>Creá una página web maravillosa hoy mismo</title>

        <link rel="icon" type="image/png" href="img/empire-web-logo.png">

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/1-col-portfolio.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <a class="" href="http://www.empireweb.com.ar"><img src="img/empire-web-square-logo.png" alt="Empire Web Logo" title="Empire Web Logo" class="img-responsive"></a>
                    <h1 class="page-header">EDITOR ONLINE
                        <small>VERSIÓN DEMOSTRACIÓN</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <!-- Project One -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template1.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 1:</h3>
                    <p>Freelancer es un tema ideal para trabajadores independientes.</p>
                    <p>Descargado originalmente desde <a href="https://startbootstrap.com/template-overviews/freelancer/" target="_blank">Start Bootstrap</a>.</p>
                    <p>Adaptado por <a href="http://www.empireweb.com.ar" target="_blank">Empire Web</a> para ser editable en forma online.</p>
                    <br>
                    <p><a class="btn btn-primary" href="../template1/editor.html" target="_blank">EDITAR ESTE DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="../descargas/template1.zip" target="_self">DESCARGAR GRATIS &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Two -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template2.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 2:</h3>
                    <p>New Age es una página de aterrizaje para aplicaciones móviles. ¡Le ayuda a presentar su aplicación web o cualquier otra cosa! Este tema cuenta con un diseño audaz y colorido con varias secciones de contenido que va a ser un excelente modelo para su próximo proyecto en la web.</p>
                    <p>Descargado originalmente desde <a href="https://startbootstrap.com/template-overviews/new-age/" target="_blank">Start Bootstrap</a>.</p>
                    <p>Adaptado por <a href="http://www.empireweb.com.ar" target="_blank">Empire Web</a> para ser editable en forma online.</p>
                    <br>
                    <p><a class="btn btn-primary" href="../template2/editor.html" target="_blank">EDITAR ESTE DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="../descargas/template2.zip" target="_self">DESCARGAR GRATIS &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Three -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template3.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 3:</h3>
                    <p>Creative es un tema de una página para pequeñas y medianas empresas. El tema incluye una serie de ricas características que se pueden utilizar como un gran modelo para su próximo proyecto.</p>
                    <p>Descargado originalmente desde <a href="https://startbootstrap.com/template-overviews/creative/" target="_blank">Start Bootstrap</a>.</p>
                    <p>Adaptado por <a href="http://www.empireweb.com.ar" target="_blank">Empire Web</a> para ser editable en forma online.</p>
                    <br>
                    <p><a class="btn btn-primary" href="../template3/editor.html" target="_blank">EDITAR ESTE DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="../descargas/template3.zip" target="_self">DESCARGAR GRATIS &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Four -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template4.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 4:</h3>
                    <p>Agency es un tema de una página elegante, ideal para pequeñas y medianas empresas.</p>
                    <p>Descargado originalmente desde <a href="https://startbootstrap.com/template-overviews/agency/" target="_blank">Start Bootstrap</a>.</p>
                    <p>Adaptado por <a href="http://www.empireweb.com.ar" target="_blank">Empire Web</a> para ser editable en forma online.</p>
                    <br>
                    <p><a class="btn btn-primary" href="../template4/editor.html" target="_blank">EDITAR ESTE DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="../descargas/template4.zip" target="_self">DESCARGAR GRATIS &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project 5 -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template5.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 5:</h3>
                    <p>Haz un sitio web que atraerá la atención de todos con esta moderna plantilla. Butterfly se puede adaptar fácilmente a profesionales o empresas.</p>
                    <p>Descargado originalmente desde <a href="http://freebiesxpress.com/gallery/butterfly-free-bootstrap-theme/" target="_blank">FreebiesXpress</a>.</p>
                    <p>Adaptado por <a href="http://www.empireweb.com.ar" target="_blank">Empire Web</a> para ser editable en forma online.</p>
                    <br>
                    <p><a class="btn btn-primary" href="../template5/editor.html" target="_blank">EDITAR ESTE DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="../descargas/template5.zip" target="_self">DESCARGAR GRATIS &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project 6 -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template6.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 6:</h3>
                    <p>Agency es una solución web para profesionales particulares y negocios. Esta plantilla multifuncional ofrece varias opciones de diseño para cuidar de cualquier posible resolución de la pantalla. Se ajusta a cualquier dispositivo de visualización. Esta plantilla flexible, utiliza un diseño fresco y limpio y permite cambiar su aspecto a su gusto en un solo click.</p>
                    <p>Diseñado por FifoThemes.</p>
                    <br>
                    <p><a class="btn btn-primary" href="http://demo.fifothemes.com/agency/index-parallax-image.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="https://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project 7 -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template7.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 7:</h3>
                    <p>Potente plantilla multipropósito de una página: puede construir lo que quiera con esta plantilla. Recomendado para profesionales y negocios de la construcción.</p>
                    <p>Diseñado por SemiColonWeb.</p>
                    <br>
                    <p><a class="btn btn-primary" href="https://themes.semicolonweb.com/html/canvas/demo-construction.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="https://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project 8 -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template8.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 8:</h3>
                    <p>Potente plantilla multipropósito de una página: puede construir lo que quiera con esta plantilla. Recomendado para negocios o agencias.</p>
                    <p>Diseñado por SemiColonWeb.</p>
                    <br>
                    <p><a class="btn btn-primary" href="https://themes.semicolonweb.com/html/canvas/index.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="https://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project 9 -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template9.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 9:</h3>
                    <p>Potente plantilla multipropósito de una página: puede construir lo que quiera con esta plantilla. Recomendado para profesionales e instituciones de la salud.</p>
                    <p>Diseñado por SemiColonWeb.</p>
                    <br>
                    <p><a class="btn btn-primary" href="https://themes.semicolonweb.com/html/canvas/demo-medical.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="https://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project 10 -->
            <div class="row">
                <div class="col-md-7">
                    <img class="img-responsive" src="img/template10.png" alt="">
                </div>
                <div class="col-md-5">
                    <h3>DISEÑO 10:</h3>
                    <p>Potente plantilla multipropósito de una página: puede construir lo que quiera con esta plantilla. Recomendado para centros de masajes y spa.</p>
                    <p>Diseñado por SemiColonWeb.</p>
                    <br>
                    <p><a class="btn btn-primary" href="https://themes.semicolonweb.com/html/canvas/demo-spa.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    <br>
                    <p><a class="btn btn-primary" href="https://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li class="active">
                            <a href="index.html">1</a>
                        </li>
                        <li>
                            <a href="page2.html">2</a>
                        </li>
                        <li>
                            <a href="page3.html">3</a>
                        </li>
                        <li>
                            <a href="page4.html">4</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Contact Section -->
            <section id="contact">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" style="color:black;">¿TENÉS PREGUNTAS? ¡ESCRIBINOS Y TE ASESORAMOS!</h2>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Tu Nombre *" id="name" required data-validation-required-message="Ingresá tu nombre y apellido.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Tu Email *" id="email" required data-validation-required-message="Ingresá tu dirección de email.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" placeholder="Tu Teléfono (Opcional)" id="phone">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Tu Mensaje *" id="message" required data-validation-required-message="Escribí tu pregunta o consulta."></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <br>
                                    <button type="submit" class="btn btn-xl">ENVIAR MENSAJE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- /.row -->

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; 2019 <a href="http://www.empireweb.com.ar" target="_blank">Empire Web.</a> Todos los derechos reservados.</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>

        <script type="text/javascript" src="../ew-extras.js"></script>
    </body>
</html>
