<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creá una página web maravillosa con Empire Web. Hazla tu mismo. Construye todo visualmente. ¿Necesitás página web? ¡Creala con Empire Web!">
    <meta name="author" content="">

    <title>Creá una página web maravillosa hoy mismo</title>

	<link rel="icon" type="image/png" href="img/empire-web-logo.png">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
				<a class="" href="index.html"><img src="img/empire-web-square-logo.png" alt="Empire Web Logo" title="Empire Web Logo" class="img-responsive"></a>
                <h1 class="page-header">EDITOR ONLINE
                    <small>VERSIÓN DEMOSTRACIÓN</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project 21 -->
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template21.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 21:</h3>
				<p>Potente plantilla multipropósito de una página: puede construir lo que quiera con esta plantilla. Recomendado para promocionar apps de celulares y landing pages en general.</p>
				<p>Diseñado por SemiColonWeb.</p>
				<br>
                <p><a class="btn btn-primary" href="http://themes.semicolonweb.com/html/canvas/index-app-showcase.php" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project 22 -->
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template22.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 22:</h3>
				<p>Potente plantilla multipropósito de una página: puede construir lo que quiera con esta plantilla. Recomendado para landing pages en general.</p>
				<p>Diseñado por SemiColonWeb.</p>
				<br>
                <p><a class="btn btn-primary" href="http://themes.semicolonweb.com/html/canvas/landing-2.php" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project 23 -->
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template23.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 23:</h3>
				<p>Potente plantilla multipropósito de una página: puede construir lo que quiera con esta plantilla. Recomendado para anunciar un evento que se lanzará próximamente.</p>
				<p>Diseñado por SemiColonWeb.</p>
				<br>
                <p><a class="btn btn-primary" href="http://themes.semicolonweb.com/html/canvas/coming-soon-2.php" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project 24 -->
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template24.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 24:</h3>
				<p>Esta plantilla viene con toneladas de elementos que le permite crear diferentes tipos de páginas en su sitio web.</p>
				<p>Diseñado por Okler Themes.</p>
				<br>
                <p><a class="btn btn-primary" href="http://preview.oklerthemes.com/porto/4.9.3/demo-hotel.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project 25 -->
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template25.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 25:</h3>
				<p>Esta plantilla viene con toneladas de elementos que le permite crear diferentes tipos de páginas en su sitio web.</p>
				<p>Diseñado por Okler Themes.</p>
				<br>
                <p><a class="btn btn-primary" href="http://preview.oklerthemes.com/porto/4.9.3/index-corporate-7.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template26.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 26:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-fashion.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template27.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 27:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-winery.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template28.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 28:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-fitness.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template29.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 29:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-app-landing-2.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template30.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 30:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-adventure.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="index.html">1</a>
                    </li>
                    <li>
                        <a href="page2.html">2</a>
                    </li>
                    <li class="active">
                        <a href="page3.html">3</a>
                    </li>
                    <li>
                        <a href="page4.html">4</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

		<!-- Contact Section -->
		<section id="contact">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color:black;">¿TENÉS PREGUNTAS? ¡ESCRIBINOS Y TE ASESORAMOS!</h2>
					<br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tu Nombre *" id="name" required data-validation-required-message="Ingresá tu nombre y apellido.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Tu Email *" id="email" required data-validation-required-message="Ingresá tu dirección de email.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Tu Teléfono (Opcional)" id="phone">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Tu Mensaje *" id="message" required data-validation-required-message="Escribí tu pregunta o consulta."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
								<br>
                                <button type="submit" class="btn btn-xl">ENVIAR MENSAJE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
		</section>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
					<p>Copyright &copy; 2015-2017 <a href="http://www.empireweb.com.ar" target="_blank">Empire Web.</a> Todos los derechos reservados.</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

</body>

</html>
