<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creá una página web maravillosa con Empire Web. Hazla tu mismo. Construye todo visualmente. ¿Necesitás página web? ¡Creala con Empire Web!">
    <meta name="author" content="">

    <title>Creá una página web maravillosa hoy mismo</title>

	<link rel="icon" type="image/png" href="img/empire-web-logo.png">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
				<a class="" href="index.html"><img src="img/empire-web-square-logo.png" alt="Empire Web Logo" title="Empire Web Logo" class="img-responsive"></a>
                <h1 class="page-header">EDITOR ONLINE
                    <small>VERSIÓN DEMOSTRACIÓN</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template31.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 31:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-app-landing.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template32.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 32:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-architecture.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template33.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 33:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-capital-firm.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template34.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 34:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-restaurant.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template35.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 35:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-music.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template36.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 36:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-property.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template37.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 37:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-event.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="img/template38.png" alt="">
            </div>
            <div class="col-md-5">
                <h3>DISEÑO 38:</h3>
                <p>Una plantilla notablemente completa que le ofrece una plétora de elementos de diseño hechos a mano. Ya sea promocionando un producto, servicio o portafolio, el estilo es único.</p>
				<p>Diseñado por Medium Rare.</p>
				<br>
                <p><a class="btn btn-primary" href="http://foundry.mediumra.re/home-photography-2.html" target="_blank">VER DEMO ONLINE<span class="glyphicon glyphicon-chevron-right"></span></a></p>
				<br>
				<p><a class="btn btn-primary" href="http://mpago.la/f9Oy" target="_blank">COMPRAR DISEÑO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="index.html">1</a>
                    </li>
                    <li>
                        <a href="page2.html">2</a>
                    </li>
                    <li>
                        <a href="page3.html">3</a>
                    </li>
                    <li class="active">
                        <a href="page4.html">4</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

		<!-- Contact Section -->
		<section id="contact">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color:black;">¿TENÉS PREGUNTAS? ¡ESCRIBINOS Y TE ASESORAMOS!</h2>
					<br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tu Nombre *" id="name" required data-validation-required-message="Ingresá tu nombre y apellido.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Tu Email *" id="email" required data-validation-required-message="Ingresá tu dirección de email.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Tu Teléfono (Opcional)" id="phone">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Tu Mensaje *" id="message" required data-validation-required-message="Escribí tu pregunta o consulta."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
								<br>
                                <button type="submit" class="btn btn-xl">ENVIAR MENSAJE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
		</section>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; 2018 <a href="http://www.empireweb.com.ar" target="_blank">Empire Web.</a> Todos los derechos reservados.</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <script type="text/javascript" src="../ew-extras.js"></script>
</body>

</html>
